@font-face {
    font-family: 'PoliceZelda'; 
    src: url('font/HyliaSerifBeta-Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

html,body{
    scroll-behavior: smooth;
}

body {
    font-family: 'PoliceZelda', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.search-form {
    display: flex;
    flex-grow: 1;
    margin: 0 80px;
}

.search-form input {
    font-family: 'PoliceZelda', sans-serif;
    flex-grow: 2;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px 0 0 3px;
}

.search-form button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #eee;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.search-form button:hover {
    border: 1px solid black
}

.favoris {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: 8em;
    padding: 4px;
    border-radius: 0 3px 3px 0;
}

.favoris img {
    width: 20px;
}

.favoris span {
    margin-left: 5px;
}


main {
    padding: 20px;
    display: flex;
    gap: 130px;
    padding-bottom: 70px;
    justify-content: center;
}


.li_categories ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    color: black;
}

.li_categories ul li a{
    color: black;
}


.choice_category {
    display: flex;
    flex-direction: column;
    gap: 70px;
    cursor: pointer;
}

.category_summary h2{
    margin-top: 0;
    margin-bottom: 40px;
}

.elements_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
}

.elements_summary img{
    width: 65%;
    height: auto;

}

.images_section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.div_elements{
    display: flex;
    flex-direction: column;
    width: 18%;
    cursor: pointer;
}

.div_elements h3{
    text-align: center;
}

.element_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.div_a{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div_a a img{
    width: 50px;
}

.element_div img{
    width: 25%;
    height: auto;
}

.element_div p {
    width: 50%;
    text-align: center;
}