@font-face {
    font-family: 'PoliceZelda'; 
    src: url('font/HyliaSerifBeta-Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

html,body{
    scroll-behavior: smooth;
}

body {
    font-family: 'PoliceZelda', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-image: url('images/1258416.png');
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:  rgb(224, 209, 173);
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.search-form {
    position: relative;
}

.search-form input {
    font-family: 'PoliceZelda', sans-serif;
    flex-grow: 2;
    padding: 5px;
    border: 0.5px solid grey;
    border-radius: 3px 0 0 3px;
    width: 260px;
    outline: none;
}

.ul_recherche{
    display: none;
    position: absolute;
    top: 100%;
    overflow: auto;
    max-height: 204px;
    margin: 0;
    padding: 0;
    background-color: #0a053c;
    width: 100%;
}

.search-item{
    color: rgb(224, 209, 173);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid white;
}


.search-item:hover{
    background-color: #1a0d6d;
}

.search-item img{
    width: 50px;
}


.favoris {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid grey;
    cursor: pointer;
    text-decoration: none;
    color:  rgb(224, 209, 173);
    width: 8em;
    padding: 4px;
    border-radius: 0 3px 3px 0;
}

.favoris img {
    width: 20px;
}

.favoris span {
    margin-left: 5px;
}

.wallpaper_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
    background-size: cover;
    background-position: center; 
    filter: brightness(35%);
}


main {
    padding: 20px;
    display: flex;
    gap: 130px;
    padding-bottom: 70px;
    justify-content: center;
    color:  rgb(224, 209, 173);
}


.li_categories ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.li_categories ul li a{
    color:  rgb(224, 209, 173);
}


.choice_category {
    display: flex;
    flex-direction: column;
    gap: 70px;
    cursor: pointer;
}

.category_summary h2{
    margin-top: 0;
    margin-bottom: 40px;
}

.elements_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
}

.elements_summary img{
    width: 65%;
    height: auto;

}

.images_section{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

.div_elements{
    display: flex;
    flex-direction: column;
    width: 17%;
    cursor: pointer;
}

.div_elements h3{
    text-align: center;
}

.element_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.div_a{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div_a a img{
    width: 40px;
}

.element_div img{
    width: 25%;
    height: auto;
}

.element_div p {
    width: 50%;
    text-align: center;
}

/* css pour favoris.html */

.section_container_favoris{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgb(224, 209, 173);
}

.favoris-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.favori-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_img_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.coeur_favori{
    width: 40px;
}